<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">Meeting Scheduler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="row p-0 m-0">
  <div class="col-sm"></div>
  <div class="col-sm p-5">
    <h2 class="form-signin-heading">Please Provide email for activation link.</h2>
    <form #createEventForm="ngForm" (ngSubmit)="sendResetMail()">
      <div class="form-group">
        <label for="email" class="sr-only">Email address</label>
        <input type="text" id="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email address"
          required autofocus>
      </div>
      <br />
      <button class="btn btn-lg btn-primary btn-block" [disabled]="!createEventForm.form.valid" type="button">Send Activation mail</button>
    </form>
  </div>
  <div class="col-sm"></div>
</div>